<%- include("partials/header") -%>

    <div class="about">
        <h1>Travel Diaries</h1>
        <h2>Share your own travel diary!</h2>
        <p>"Embark on a journey to unveil the tales of Nepal's diverse landscapes. Share the enchanting narratives of your travel escapades, exploring hidden gems and cherished destinations. If you don't see your city or beloved spot on our list, let its magic be known—simply add it to our evolving chronicle!"</p>
        <img src="/images/travel.jpg" alt=""> 
    </div>


<%- include("partials/footer") -%>