body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    /* it ensures that the body takes up full height of the viewport. */
}


.carousel-inner img {
    height: 400px;
    /* Adjust the height to your preference */
    object-fit: cover;
    /* This ensures the image covers the entire space while maintaining its aspect ratio */
}

.card img {
    height: 200px;
}

.italic-text {
    font-style: italic;
}

.background-dark {
    color: white;
    background-color: rgb(50, 49, 49)
}

.card-mod {
    background-color: rgb(58, 55, 55);
    color: white;
}

/* for compose page */
.upload {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;

    h1 {
        color: #333;
    }

    img {
        max-width: 100%;
        height: auto;
        margin: 20px 0;
        /* Add top and bottom margin for image */
    }

    p {
        font-style: italic;
        text-align: justify;
        margin: 0 auto;
        max-width: 800px;
    }


}

/* for about page. */
.about {
    text-align: center;
    margin: 20px;

    h1 {
        text-align: center;
        margin: 20px;
    }

    h2 {
        font-style: italic;
    }

    p {
        text-align: justify;
        margin: 5px 100px;
    }

    img {
        max-width: 500px;
    }
}

